@import '../../utils/_variables';

.List {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1.5em;
    & > div {
        display: flex;
        justify-content: center;
        width: 86%;
        max-width: 1750px;
        height: auto;
        background: $color5;
        border-radius: 10px;
        align-items: center;
        padding: 45px 20px 45px 20px;
        margin-bottom: 5em;
        margin-top: 2em;
        position: relative;
        & > h1 {
            position: absolute;
            top: 0;
            color: $color4;
            margin-top: 1.5em;
            height: fit-content;
            font-family: $police2;
            font-weight: 500;
            text-decoration: underline;
            font-size: 27px;
        }
    }
}

@media screen and (min-height: 958px) {
    .List > div {
        margin-bottom: 18em;
        margin-top: 18em;
    }
}
